* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  margin: 1rem;
}

.carousel {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.image-carousel {
  width: 220px;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;
  /* box-shadow: 3px 5px 20px #00000070; */
}
